body {
    text-align: center;
    background-color: rgba(9, 212, 29, 0.927);
}

.header.form-group{
    margin: 20px;
} 

.divContent {
    background-color: rgb(181, 118, 185);
    padding: 30px;
    border-radius: 30px;
    margin: auto;
}

.logo{
    width: 30%;

}

#trending{
    margin-top: 30px;

}
.nomeSala{
    font-size: 20px;
    padding: 15px ;
    cursor: pointer;
}

.nomeSala:hover {
    background-color: rgb(185, 212, 15) ;
}